{% extends 'base.html.twig' %}

{% block title %}liste des auteurs{% endblock %}

{% block body %}


<h1>liste des auteurs</h1>

  {% for author in authors %}
   <p> 
    {{ author.nom }}
    {{ author.prenom }} 
    <form action="{{ url('author_delete', { id: author.id }) }}" method="post">
    {# the argument of csrf_token() is the ID of this token #}
    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">

    <button type="submit">Delete item</button>
</form>
    </p>
  {% endfor %}
  <a href="/authors/create/">
         create
         
     </a> 


{% endblock %}
