<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}Ma Bibliothèque{% endblock %}
    </title>
</head>

<body>

<header>

    <h1>Ma Bibliothèque</h1>

    <nav>
        <a href="{{ path('author_list') }}">Auteurs</a>

        <a href="{{ path('book_list') }}">Livres</a>
    </nav>

</header>

{% for label, messages in app.flashes(['success', 'notice']) %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<hr>

{% block body %}{% endblock %}

<hr>

<footer>

    Mon footer Symfony

</footer>

</body>
</html>